.header-nav{
    
    $h: 50px;
    background-color: lighten($main-color, 10%);
    
    .js &{
        height: $h;
                
        .container{
            height: 100%;
        }
    }
    
    &__logo{
        display: inline-block;
        max-width:350px;
        height: $h;
        position: relative;
        top: 10px;
        z-index: 10;
        
        img{
            max-width: 100%;
            height: 100%;
        }
    }
    
    &__hamburgger{
        display: none;
        
        .js &{
            display: inline-block;
            float: right;
            height: 100%;
            border: none;
            background: transparent;
            color: white;
            font-size: 2em;
            padding: 0 .5em;
            
            &:hover, &:focus{
                background: lighten($main-color, 5%);
            }
        }
    }
    
    &__menu{
        list-style: none;
        margin: 0;
        padding: 0;
        
        a{
            color: white;
            display: block;
            font-size: 1.5em;
            border-top: 1px solid darken($main-color, 5%);
            padding: 1em;
            
            &:hover{
                background: darken($main-color, 3%);
            }
        }
        
        .js &{
            display: none;
        }
        
        .menu-openned &{
            display: block;
        }        
    }
}