.rodape{
    
    svg{
        width: 22px;
        height: 22px;
    }
    
    .color-icon{
        fill: darken($main-color, 10);
        transition: fill .5s;
        
        &:hover{
            fill: darken($main-color, 30);
        }
    }
    
    background: lighten($main-color, 30);    
    color: darken($main-color, 10);
    padding: 1em 0;    
    ul{
        overflow: auto;
        padding: 0;
        width: 100%;
        li{
            width: 20%;
            float: left;
            box-sizing: border-box;
            list-style: none;
            padding: 0;
        }

        li a{
            font-size: 1.5em;
            color: inherit;
            display: block;
            text-align: right;
        }
        
        img{
            height: 22px;
        }
    }    
}