@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold; }

.header-nav {
  background-color: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px;
    z-index: 10; }
    .header-nav__logo img {
      max-width: 100%;
      height: 100%; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-block;
      float: right;
      height: 100%;
      border: none;
      background: transparent;
      color: white;
      font-size: 2em;
      padding: 0 .5em; }
      .js .header-nav__hamburgger:hover, .js .header-nav__hamburgger:focus {
        background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #58988d;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #5c9e93; }
    .js .header-nav__menu {
      display: none; }
    .menu-openned .header-nav__menu {
      display: block; }

.header-animado {
  background-color: #64a59a;
  padding-top: 96px;
  margin-bottom: 0;
  padding-bottom: 0; }
  .header-animado .header-animado__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold; }
  .header-animado .header-animado__subtitle {
    color: white;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.5; }
  .header-animado__ilustra {
    background-image: url(../imagens/cenario_all_960.png);
    height: 150px;
    background-size: auto 100%;
    background-position: center top; }
    .header-animado__ilustra > div {
      display: none; }

@keyframes anima_cenario {
  from {
    transform: translateX(-50%) translateZ(0); }
  to {
    transform: translateX(0%) translateZ(0); } }
    @media screen and (min-width: 480px) {
      .header-animado__ilustra {
        background-image: url(../imagens/cenario_all_1530.png); } }
    @media screen and (min-width: 960px) {
      .header-animado__ilustra {
        background-image: url(../imagens/cenario_bg.png);
        height: 300px;
        position: relative; }
        .header-animado__ilustra > div {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 4800px; }
        .header-animado__ilustra .nuvens {
          background-image: url(../imagens/cenario_nuvens.png);
          animation: anima_cenario 90s linear infinite reverse; }
        .header-animado__ilustra .casas {
          background-image: url(../imagens/cenario_casas.png);
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .rua {
          background-image: url(../imagens/cenario_rua.png);
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .carrosCima {
          background-image: url(../imagens/cenario_carrosCima.png);
          animation: anima_cenario 15s linear infinite reverse; }
        .header-animado__ilustra .carrosBaixo {
          background-image: url(../imagens/cenario_carrosBaixo.png);
          animation: anima_cenario 15s linear infinite; } }
