.header-nav {
  background-color: #84b8af; }
  .js .header-nav {
    height: 50px; }
    .js .header-nav .container {
      height: 100%; }
  .header-nav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px;
    z-index: 10; }
    .header-nav__logo img {
      max-width: 100%;
      height: 100%; }
  .header-nav__hamburgger {
    display: none; }
    .js .header-nav__hamburgger {
      display: inline-block;
      float: right;
      height: 100%;
      border: none;
      background: transparent;
      color: white;
      font-size: 2em;
      padding: 0 .5em; }
      .js .header-nav__hamburgger:hover, .js .header-nav__hamburgger:focus {
        background: #74aea5; }
  .header-nav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header-nav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #58988d;
      padding: 1em; }
      .header-nav__menu a:hover {
        background: #5c9e93; }
    .js .header-nav__menu {
      display: none; }
    .menu-openned .header-nav__menu {
      display: block; }

.header-animado {
  background-color: #64a59a;
  height: 300px; }
